@model IEnumerable<CarSearchResponseViewModel>
@{
    ViewData["Title"] = "CAR SEARCH";
}


<div class="list-img">
    <img src="~/images/list-banner.png" width="100%" />
</div>
<div class="car-list-container">
    <div class="container text-white text-center">
        <div class="list-text">
            <h2>Car Listing</h2>
            <p>Discover the best cars for you to run the day</p>
        </div>
    </div>

    <div class="container mt-2">
        <div class="row">
            <div class="col-md-6">
                <div class="mt-1">
                    <a href="#" class="text-dark"><i class="fas fa-arrow-left mr-2"></i>Go Back</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text"
                           class="form-control"
                           placeholder="Search for cars" />
                    <div class="input-group-append">
                        <button class="border border-none car-search-btn px-4 text-white"
                                type="button">
                            <span class="px-3">Search</span>
                            <!-- <i class="fa fa-search"></i> -->
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">


        @foreach (var item in Model)
        {
            <div class="col-md-4 mt-5 p-3 h-50 w-50">
                <div class="top-car-list border">
                    <a asp-action="Details">
                        <img src=@item.ImageUrl
                             alt=""
                             width="300"
                             height="250" />
                    </a>
                    <div class="car-list-text mt-4 px-3">
                        <a asp-action="#"><h2> @item.Model @item.YearOfMan</h2></a>
                        <div class="car-list-rate d-flex">
                            <p>@item.Rating</p>
                            <p><span class="fa fa-star checked mt-1"></span></p>
                            <p class="brackets">@item.NoOfPeople people hired so far</p>
                        </div>

                        <p>@item.Price/@item.UnitOfPrice</p>

                        @if (item.Avalability)
                        {
                            <a asp-action="Details" asp-route-id="@item.Id" class="text-danger font-weight-bolder view-details"> View Details<i class="fas fa-chevron-right pl-2 text-center"></i></a>
                        }

                        else
                        {
                            <blockquote class="blockquote text-danger">
                                <p class="mb-0"> Not Avalaible </p>
                            </blockquote>
                        }


                    </div>
                </div>

            </div>
        }


    </div>
    <nav aria-label="Page navigation" class="page-navigtion">
        <ul class="pagination">
            <li class="page-item d-flex align-items-center">
                <a href=""><i class="fa fa-chevron-left"></i></a>
                <a class="page-link ml-2" href="#">
                    Prev
                </a>
            </li>
            <li class="page-item ">
                <a class="page-link" href="#">
                    1
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">
                    2
                </a>
            </li>
            <li class="page-item d-flex align-items-center">

                <a class="page-link mr-2" href="#">
                    Next
                </a>
                <a href=""><i class="fa fa-chevron-right"></i></a>
            </li>
        </ul>
    </nav>

</div>
<section class="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-12 col-sm-12">
                <div class="col-md-12 col-sm-12 text-center font-weight-bolder">
                    <h2>Testimonials</h2>
                    <p>What are people saying about us</p>

                </div>
                <div class="owl-carousel owl-theme" id="customer-testimonials">
                    <div class="item border">
                        <div class="shadow-effect">
                            <img class="img-circle" src="~/images/testimonial.png">
                            <div class="testimonial-name">
                                Paulson Aboyemi
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab accusamus atque in quasi,
                                tempore nam ullam aut tenetur reprehenderit animi repudiandae placeat sequi! Eos alias,
                                maxime exercitationem quo laudantium quos.
                            </p>
                            <div class="star-rates">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>

                            </div>
                        </div>

                    </div>
                    <div class="item border">
                        <div class="shadow-effect">
                            <img class="img-circle" src="~/images/testimonial.png">
                            <div class="testimonial-name">
                                Paulson Aboyemi
                            </div>

                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab accusamus atque in quasi,
                                tempore nam ullam aut tenetur reprehenderit animi repudiandae placeat sequi! Eos alias,
                                maxime exercitationem quo laudantium quos.
                            </p>
                            <div class="star-rates">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>

                            </div>

                        </div>

                    </div>
                    <div class="item border">
                        <div class="shadow-effect">
                            <img class="img-circle" src="~/images/testimonial.png">
                            <div class="testimonial-name">
                                Paulson Aboyemi
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab accusamus atque in quasi,
                                tempore nam ullam aut tenetur reprehenderit animi repudiandae placeat sequi! Eos alias,
                                maxime exercitationem quo laudantium quos.
                            </p>
                            <div class="star-rates">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>

                            </div>
                        </div>

                    </div>

                    <div class="item">
                        <div class="shadow-effect">
                            <img class="img-circle" src="~/images/testimonial.png" width="100">
                            <div class="testimonial-name">
                                Paulson Aboyemi
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab accusamus atque in quasi,
                                tempore nam ullam aut tenetur reprehenderit animi repudiandae placeat sequi! Eos alias,
                                maxime exercitationem quo laudantium quos.
                            </p>
                            <div class="star-rates">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>

                            </div>
                        </div>

                    </div>




                </div>
            </div>
        </div>
    </div>

</section>













